button {
  cursor: pointer;
}

.dataPageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* ADD DATA FORM */
.AddDataFormCheckboxButton {
  background-color: #ecb939;
  color: #fbf7f5;
  display: inline-block;
  border: none;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.2rem;
  margin: 0 2rem 0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  text-align: center;
}

.AddDataFormCheckboxButton:hover {
  background-color: #f0c75e;
}

.addDataForm {
  margin: 1rem;
  padding: 1rem;
  background-color: darkkhaki;
  height: 15vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addDataForm label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 30vh;
  margin: 0.5rem;
}

.addDataForm label input,
.addDataForm label select {
  width: 7rem;
}

.addDataForm button {
  width: 5rem;
}

/* DISPLAY DATA*/
/* SHOWN DATA*/
.dataTypeBox {
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;
  width: 80vw;
}

.dataTypeBox button {
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataBox {
  border: 1px solid lightgray;
  margin: 0.4rem 0 0.4rem;
  padding: 0 1rem 0;
}

.dataBox section {
  height: 1.7rem;
  display: flex;
  align-items: center;
}

.dataBoxShown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.dataBoxShown div {
  display: flex;
}

.dataBoxTotal {
  display: flex;
  font-weight: bold;
}

.dataBoxDescription {
  width: 8rem;
  margin-right: 0.5rem;
}

.dataBoxValue {
  width: 5rem;
}

.dataBoxButton {
  justify-content: end;
  margin-left: 0.5rem;
}

/* DATA HIDDEN */
.dataBoxHidden input {
  width: 5rem;
}

.updateDataForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateDataFormText {
  display: flex;
  flex-direction: column;
}

.updateDataFormText label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem;
  height: 1rem;
}

.updateDataFormText p {
  margin-right: 1rem;
}

.updateDataFormText input {
  width: 7rem;
}

.updateDataFormButton {
  display: flex;
  flex-direction: column;
}
