button {
  cursor: pointer;
  transition-duration: 0.3s;
}

.dataPageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.dataPageBox h1 {
  margin: 1rem 0 1rem;
  font-size: 2.5rem;
}

/* ADD DATA FORM */
.AddDataFormCheckboxButton {
  background-color: #ecb939;
  color: #fbf7f5;
  display: inline-block;
  border: none;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.2rem;
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  text-align: center;
}

.AddDataFormCheckboxButton:hover {
  background-color: #f0c75e;
}

.addDataForm {
  background-color: rgba(211, 211, 211, 0.2);
  border: 1px solid lightgray;
  margin: 1rem;
  padding: 1rem;
  height: 15vh;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.addDataForm label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  width: 30vh;
  margin: 0.5rem;
}

.addDataForm label input,
.addDataForm label select {
  width: 7rem;
}

.addDataForm button {
  width: 4.5rem;
  appearance: none;
  border:none;
  border-radius: 1rem;
  background-color: gray;
  color: white;
  margin-top: 0.5rem;
}

.addDataForm button:hover{
  background-color: lightgray;
}

/* SHOWN DATA*/
.dataTypeBox {
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  border-radius: 1rem;
}

.dataTypeBox[data-category="Income"] {
  border: 1px solid rgba(53, 167, 156);
  background-color: rgba(53, 167, 156, 0.2);
}

.dataTypeBox[data-category="Expense"] {
  border: 1px solid rgba(236, 185, 57);
  background-color: rgba(236, 185, 57, 0.2);
}

.dataTypeBox h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.dataTypeBox button {
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataBox {
  padding: 0.5rem 1rem 0.5rem;
}

.dataBox[data-category="Income"] {
  border-bottom: 1px solid rgba(53, 167, 156);
}

.dataBox[data-category="Expense"] {
  border-bottom: 1px solid rgba(236, 185, 57);
}

.dataBox section {
  height: 1.7rem;
  display: flex;
  align-items: center;
}

.dataBoxShown {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.dataBoxShown div {
  display: flex;
}

.dataBoxTotal {
  border: none;
  display: flex;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem;
  padding: 0 1rem 0;
}

.dataBoxTotal section {
  height: 1.7rem;
  display: flex;
  align-items: center;
}

.dataBoxDescription {
  width: 8rem;
  margin-right: 0.5rem;
}

.dataBoxValue {
  width: 5rem;
}

/* DATA BOX BUTTONS AND BUTTON EFFECTS */
.dataBoxButton {
  margin-left: 0.5rem;
  border: none;
  background-color: transparent;
  filter: opacity(20%);
}

.dataBoxButton img {
  height: 1.2rem;
  width: auto;
}

.dataBoxButton:hover {
  border: none;
  background-color: transparent;
  filter: opacity(100%);
}

.dataBoxButtonActive {
  border: none;
  background-color: transparent;
  filter: opacity(100%);
}

.dataBoxButtonActive img {
  height: 1.2rem;
  width: auto;
}

/* DATA HIDDEN */
.dataBoxHidden {
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 0 0.5rem;
}

.dataBoxHidden[data-category="Income"] {
  background-color: rgba(53, 167, 156, 0.2);
}

.dataBoxHidden[data-category="Expense"] {
  background-color: rgba(236, 185, 57, 0.2);
}

.dataBoxHidden p {
  margin: 0 0 1rem 0;
}

.updateDataForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updateDataFormText {
  display: flex;
  flex-direction: column;
}

.updateDataFormText label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem;
  height: 1rem;
}

.updateDataFormText p {
  margin: 0 1rem 0 0;
}

.updateDataFormText input {
  width: 7rem;
}
